/* 	
=============================================================================
 PRIMARY STYLES
=============================================================================
*/

body {
    margin: 0;
}

main {
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    justify-content: center;
}

.hero-image { 
    width: 100%;
    height: 100vh;
    color: white;
    background-image: url("floralring.jpg");
    filter: brightness(95%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-text {
    backdrop-filter: blur(2.5px);
    padding-bottom: 2em;
}

h1 {
    padding: 0;
}

h2 {
    text-align: center;
}

.footercontent {
    font-family: Arial, Helvetica, sans-serif;
}

form {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    display: block;
    position: relative;
    padding: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    user-select: none;
}

.playfairfont {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 3rem;
}

.playfairfont2 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1.75rem;
}

.sourcesansfont {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: .95rem;
}

.sourcesansfont2 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: .75rem;
}

.todochecklist {
    text-align: left;
}

.checktext {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .95rem;
    padding-left: 1em;
}

.flex {
    display: flex;
    align-items: flex-start;
}

.checkboxpadding {
    padding-left: 4rem;
}
